ul {
  padding-left: 0;
}
.icon {
  background: url(../img/spritesheet.png);
  vertical-align: middle;
  }
@media (min-width: 320px) {

  .fast-contacts {
    margin: 0 auto;
    min-height: 30px;
    background-color: #e9e9f1;
  }
  .fast-contacts__container {
    display: block;
    padding-top: 5px;
  }
  .fast-contacts__time {
    display: none;
  }
  .fast-contacts__phone {
    position: relative;
    padding-left: 25px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: #000;
  }
  .fast-contacts__phone:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/spritesheet.png);
    background-position: -154px -5px;
    left: 0px;
  }
  .fast-contacts__address {
    display: none;
  }
  .menu-link-box {
    display: block;
    width: 20px;
    height: 20px;
    float: right;
  }
  .menu-link {
    float: right;
    width: 4px;
    height: 20px;
    background-position: -48px -5px;
  }
  .burger {
    display: block;
    position: absolute;
    opacity: 0;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 110px;
    margin: 0;
    margin-top: 5px;
    border-top: 1px solid #22313f;
    background-color: #e9e9f1;
    text-align: center;
    transition: all 0.5s;
    z-index: 1;
  }
  .burger__append {
    opacity: 1;
  }
  .burger__item {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .burger__link {
    text-decoration: none;
    font-size: 18px;
    color: #22313f;
    letter-spacing: 0.030em;
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
  }
  .burger__social {
    position: relative;
    padding-top: 10px;
    text-align: center;
  }
  .burger__twitter {
    display: inline-block;
    content: '';
    width: 22px;
    height: 18px;
    background-position: -34px -177px;
  }
  .burger__vk {
    display: inline-block;
    content: '';
    width: 25px;
    height: 19px;
    background-position: -199px -177px;
  }
  .burger__insta {
    display: inline-block;
    content: '';
    width: 19px;
    height: 19px;
    background-position: -96px -5px;
  }
  .page-header {
    background-image: url(../img/320/iswanto-arif-137501.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
  .page-header__container {
    
  }
  .page-header__main {
  }
  .page-logo {
    display: none;
  }
  .page-logo__logo-img {
    
  }
  .page-nav {
    display: none;
  }
  .page-nav__list {
  }
  .page-nav__item {
  }
  .page-nav__link {
  }
  .page-header__promo {
    padding-top: 75px;
    padding-bottom: 85px;
  }
  .page-header__title {
    margin: 0;
    position: relative;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    color: #211811;
  }
  .page-header__title:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    background-color: #000;
    height: 2px;
    width: 95px;
  }
  .page-header__descr {
    margin: 0;
    padding-top: 85px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #22313f;
  }
  .page-header__full-descr {
    display: none;
  }
  .btn {
    padding: 8px 24px;
    text-decoration: none;
    color: #211811;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.025em;
    border: 1px solid #211811;
  }
  .page-header__btn {
    display: inline-block;
    margin-top: 35px;

  }
  .trails {
    background-image: url(../img/320/iswanto-arif-135737.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    min-height: 529px;
    background-size: cover;
  }
  .trails__container {
  }
  .trails__title {
    position: relative;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.030px;
    text-align: center;
    color: #fefefe;
  }
  .trails__title:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 48px;
    margin: auto;
    background-color: #fefefe;
    height: 2px;
    width: 95px;
  }
  .trails__block {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 214px;
    margin: 0 auto;
  }
  .trails-programm {
  }
  .trails__item {
    position: relative;
  }
  .trails-programm__image {
    
  }
  .trails-programm__photo {
    width: 214px;
    height: 320px;
    background-position: top;
    background-size: 100%;
  }
  .trails-programm__shut-up {
    position: absolute;
    top: 0;
    padding: 20px 25px;
    width: 164px;
    height: 120px;
    background-color: rgba(34, 49, 63, 0.75);
  }
  .trails-programm__title {
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.030em;
    color: #c7c7d3;
    text-shadow: 0 2px 2px #000;
  }
  .trails-programm__height {
    position: absolute;
    top: 70px;
    left: 70px;
    margin: 0;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    letter-spacing: 0.030em;
    color: #f9f9f9;
    text-shadow: 0 2px 2px #000;
  }
  .trails-programm__height:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -45px;
    top: -7px;
    background-image: url(../img/spritesheet.png);
    width: 35px;
    height: 22px;
    background-position: -5px -105px;
  }
  .trails-programm__age {
    position: absolute;
    top: 100px;
    left: 70px;
    margin: 0;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    letter-spacing: 0.030em;
    color: #f9f9f9;
    text-shadow: 0 2px 2px #000;
  }
  .trails-programm__age:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -43px;
    top: -8px;
    background-image: url(../img/spritesheet.png);
    width: 24px;
    height: 27px;
    background-position: -60px -5px;
  }
  .trails-programm__shut-down {
    position: absolute;
    top: 160px;
    padding: 20px 15px;
    width: 184px;
    height: 120px;
    background-color: rgba(34, 49, 63, 0.75);
    z-index: 2;
  }
  .trails-programm__description {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    letter-spacing: 0.030em;
    color: #e7e7f2;
    text-align: center;
  }
  .trails_programm-image {
  }
  .shares {
    background-color: #fff;
  }
  .shares__container {
    padding-bottom: 30px;
  }
  .shares__title {
    position: relative;
    margin: 0;
    top: -50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.030em;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #211811;
  }
  .shares__title:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    background-color: #000;
    height: 2px;
    width: 95px;
  }
  .shares__block {
    position: relative;
    display: block;
    padding-left: 14px;
    margin-top: 10px;
  }
  .shares__block-box{
    width: 100%;
  }
  .shares__block-image {
    
  }
  .shares__block-image-med {
    display: none;
  }
  .shares__block-image-lg {
    display: none;
  }
  .shares__block-text {
    position: absolute;
    bottom: 0;
    left: 14px;
    padding: 10px 20px;
    font-size: 21px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.030em;
    color: #fefefe;
  }
  .we-have {
    position: relative;
  }
  .we-have__container {
    width: 292px;
    background-image: url(../img/320/cameron-kirby-128899.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: auto;
    padding: 45px 14px;

  }
  .we-have__title {
    position: relative;
    margin: 0;
    margin-bottom: 55px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.030px;
    text-align: center;
    color: #fefefe;
  }
  .we-have__title:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 48px;
    margin: auto;
    display: flex;
    background-color: #fefefe;
    height: 2px;
    width: 95px;
  }
  .we-have__block {
    position: relative;
    padding-left: 28px;
    padding-bottom: 40px;
  }
  .we-have__block:last-child {
    padding-bottom: 0;
  }
  .block {
  }
  .we-have__icon1 {
    display: inline-block;
    width: 57px;
    height: 58px;
    background-position: -298px -5px;
  }
  .we-have__text {
    position: absolute;
    margin: 0;
    padding-right: 28px;
    top: 0px;
    left: 90px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    letter-spacing: 0.030px;
    color: #fffffe;
  }
  .we-have__icon2 {
    display: inline-flex;
    width: 57px;
    height: 58px;
    background-position: -298px -67px;
  }
  .we-have__icon3 {
    display: inline-flex;
    width: 57px;
    height: 58px;
    background-position: -298px -130px;
  }
  .gallery {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .gallery__container {
  }
  .gallery__item {
    position: relative;
  }
  .gallery-block {
    position: relative;
    width: 215px;
    margin: 0 auto;
  }
  .gallery__item-img {
    width: 215px;
    height: 400px;
  }
  .slick-slide .gallery__item-img-med {
    display: none;
  }
  .slick-slide .gallery__item-img-lg{
    display: none;
  }
  .price {
  }
  .price__container {
    width: 100%;
  }
  .price-title {
    position: relative;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.030em;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #211811;
  }
  .price-title:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    background-color: #000;
    height: 2px;
    width: 95px;
  }
  .price-list {
    margin: 0;
    position: relative;
    padding-top: 60px;
  }
  .price-list__item {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    list-style-type: none;
    text-align: center;
  }
  .price-list__item:first-child {
    border-top: 1px solid #000;
  }
  .price-list__link {
    position: relative;
    font-size: 16px;
    color: #22313f;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    letter-spacing: 0.030em;
    text-decoration: none;
  }
  .price-list__link:after {
    position: relative;
    top: -4px;
    right: 29px;
    content: '';
    display: inline-block;
    background-image: url(../img/spritesheet.png);
    width: 14px;
    height: 25px;
    background-position: -194px -33px;
    vertical-align: middle;
    float: right;
    transition: all .5s;
  }
  .price-list__link:active:after {
    transform: rotate(-90deg);
    
  }
  .active {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .price-list__inner-list {
    margin: 0;
    display: none;
    margin-top: 20px;
  }
  .price-list__inner-item {
    position: static;
    list-style-type: none;
    padding: 10px;
    background-color: #22313f;
    border: none;
  }
  .price-list__inner-link {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #dadae7;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    letter-spacing: 0.030em;
    text-decoration: none;
    border: none;
  }
  .price-list__title {
    margin: 0;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    color: #dadae7;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    letter-spacing: 0.030em;
  }
  .price__bg {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-height: 812px;
    background-image: url(../img/320/foot.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  .price__full {
    position: relative;
    background-color: #f0f0f0;
    padding-left: 14px;
    padding-right: 29px;
    padding-top: 18px;
    padding-bottom: 15px;
    z-index: 2;
  }
  .price__aboniment {
    display: inline-block;
    margin: 0;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    letter-spacing: 0.030em;
    color: #22313f;
  }
  .price__digits {
    display: inline-block;
    float: right;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    letter-spacing: 0.030em;
    color: #22313f;
  }
  .price__about {
    position: relative;
    padding-left: 14px;
    padding-right: 29px;
    padding-top: 10px;
    padding-bottom: 13px;
    z-index: 2;
  }
  .price__about-buy {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    font-size: 10px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    letter-spacing: 0.030em;
    color: #22313f;
  }
  .price__about-digits {
    display: inline-block;
    float: right;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    letter-spacing: 0.030em;
    color: #22313f;
  }
  .price__ftr {
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    z-index: 2;
  }
  .price__about-btn {
    display: inline-block;
    padding: 15px 40px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: #fefefe;
    background-color: rgba(128, 0, 0, .85);
  }
  .price__about-security {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    letter-spacing: 0.010em;
    color: #22313f;
  }
  .price-desc {
    display: none;
  }
  .price-desc__container {
  }
  .price-desc__title {

  }
  .price-desc__form {
  }
  .price-desc__table {
  }
  .price-desc__row {
  }
  .--smoller {
  }
  .price-desc__time {
  }
  .--bold {
  }
  .--block {
  }
  .price-desc__item {
  }
  .price-desc__radio {
  }
  .price-desc__text {
  }
  .price-desc__btn {
  }
  .price-desc__security {
  }
  .reviews {
    position: relative;
    z-index: 2;
  }
  .reviews__container {
    padding-top: 40px;
    padding-bottom: 35px;
    background-color: rgba(231, 231, 231, .8);
  }
  .reviews__title {
    position: relative;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.030em;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #211811;
  }
  .reviews__title:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    background-color: #000;
    height: 2px;
    width: 95px;
  }
  .reviews__size {
    width: 214px;
    margin: 0 auto;
  }
  .reviews-client {
    padding-top: 70px;
    width: 214px;
  }
  .reviews-client__box {
    width: 157px;
    height: 157px;
    margin: 0 auto;
  }
  .reviews-client__image {
    border-radius: 100%;
    overflow: hidden;
  }
  .reviews-client__name {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.030em;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    color: #22313f;
  }
  .reviews-client__position {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.030em;
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
    color: #22313f;
  }
  .reviews-client__social {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .reviews-client__instagramm {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-position: -5px -44px;
  }
  .reviews-client__vk {
    display: inline-block;
    width: 28px;
    height: 18px;
    background-position: -5px -70px;
  }
  .reviews-client__text {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    letter-spacing: 0.010em;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    color: #22313f;
  }
  .page-footer {
    position: relative;
    top: 44px;
    padding-bottom: 40px;
    background-color: #22313f;
  }
  .page-footer__container {

  }
  .map {
    width: 100%;
    height: 230px;
  }
  .page-footer__nav{
    padding-left: 14px;
    padding-right: 14px;
  }
  .page-footer__address {
    position: relative;
    padding-top: 10px;
    margin: 0;
    left: 15px;
    font-size: 14px;
    letter-spacing: 0.030em;
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
    color: #dadae7;
  }
  .page-footer__address:before {
    position: absolute;
    left: -15px;
    top: 8px;
    content: '';
    background: url(../img/spritesheet.png);
    width: 11px;
    height: 16px;
    background-position: -37px -44px;
  }
  .page-footer__phone {
    margin: 0;
    padding-top: 13px;
  }
  .page-footer__phone-link {
    position: relative;
    left: 18px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
    color: #dadae7;
  }
  .page-footer__phone-link:before {
    position: absolute;
    left: -18px;
    top: 3px;
    content: '';
    background: url(../img/spritesheet.png);
    width: 14px;
    height: 14px;
    background-position: -53px -44px;
  }
  .page-footer__list {
    list-style-type: none;
    margin: 0;
    padding-top: 25px;
  }
  .page-footer__item {
    padding-bottom: 15px;
  }
  .page-footer__item:last-child {
    padding-bottom: 0;
  }
  .page-footer__link {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
    color: #dadae7;
  }
  .page-footer__social {
    position: relative;
    padding-top: 20px;
  }
  .page-footer__twitter {
    position: absolute;
    width: 22px;
    height: 18px;
    background-position: -66px -177px;
  }
  .page-footer__vk {
    position: absolute;
    left: 32px;
    width: 25px;
    height: 15px;
    background-position: -234px -177px;
  }
  .page-footer__instagramm {
    position: absolute;
    left: 67px;
    width: 19px;
    height: 19px;
    background-position: -125px -5px;
  }
  .icon-top {
    position: fixed;
    right: 14px;
    bottom: 10px;
    width: 33px;
    height: 33px;
    background-position: -5px -5px;
  }
}
@media (min-width: 768px) {
  .fast-contacts {
    text-align: right;
  }
  .fast-contacts__address {
    display: inline-block;
    position: relative;
    padding-left: 25px;

    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: #000;
    float: right;
  }
  .fast-contacts__address:before {
    position: absolute;
    content: '';
    left: 0;
    display: inline-block;
    width: 13px;
    height: 18px;
    background-image: url(../img/spritesheet.png);
    background-position: -180px -5px;
  }
  .fast-contacts__phone {
    padding-right: 55px;
  }
  .fast-contacts__time {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    padding-right: 55px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: #000;
    float: right;
  }
  .fast-contacts__time:before {
    position: absolute;
    content: '';
    left: 0;
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url(../img/spritesheet.png);
    background-position: -5px -177px;
  }
  .menu-link-box {
    display: none;
  }
  .menu-link {
    display: none;
  }
  .burger {
    display: none;
  }
  .page-header {
    padding-top: 5px;
    background-image: url(../img/768/iswanto-arif-137501.jpg);
    background-repeat: no-repeat;
    background-position: top center;
  }
  .page-header__container {
  }
  .page-header__main {
  }
  .page-logo {
    display: inline-block;
    width: 88px;
    height: 64px;
  }
  .page-logo__logo-img {
    width: 88px;
    height: 64px;
  }
  .page-nav {
    display: inline-block;
    float: right;
    padding-top: 20px;
  }
  .page-nav__list {
    margin: 0;
  }
  .page-nav__item {
    display: inline-block;
    padding-left: 30px;
  }
  .page-nav__link {
    position: relative;
    padding-bottom: 5px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.030em;
    color: #000;
  }
  .page-nav__link:after {
    display: none;
    position: absolute;
    content: '';
    bottom: 0;
    left: 32%;
    height: 1px;
    width: 30px;
    background-color: #000;
  }
  .page-nav__link:hover:after {
    display: block;
    position: absolute;
    content: '';
    bottom: 0;
    left: 32%;
    height: 1px;
    width: 30px;
    background-color: #000;
  }
  .page-header__promo {
    padding-top: 90px;
    padding-bottom: 260px;
  }
  .page-header__descr {
    padding-top: 100px;
    padding-right: 180px;
    font-size: 16px;
    color: #22313f;
  }
  .page-header__full-descr {
    display: inline-block;
    padding-right: 180px;
    padding-bottom: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
  }
  p {
    margin: 0;
  }
  .page-header__btn {
    margin: 0;
  }
  .trails {
    background-image: url(../img/768/iswanto-arif-135737.jpg);
    min-height: 831px;
  }
  .trails__block {
    padding-bottom: 50px;
    width: 655px;
  }
  .trails-programm {
    height: 640px;
  }
  .trails-programm__image {
    top: 160px;
    position: relative;
  }
  .trails-programm__shut-down {
    top: 480px;
  }
  .shares {
  }
  .shares__container {
    padding-bottom: 50px;
  }
  .shares__title {
  }
  .shares__block {
   /*padding-left: 14px;*/
  }
  .shares__block-box {
    /*display: inline-block;*/
  }
  .shares__block-image {
    display: none;
  }
  .shares__block-image-med {
    display: block;
  }
  .shares__block-image-lg {
    display: none;
  }
  .shares__block-text {
    font-weight: normal;
    padding: 15px 40px;
    bottom: 4px;
  }
  .we-have {
  }
  .we-have__container {
    padding-top: 40px;
    padding-bottom: 110px;
    width: 740px;
    background-image: url(../img/768/cameron-kirby-128899.jpg);
  }
  .we-have__title {
    margin: 0;
  }
  .we-have__block {
    box-sizing: border-box;
    padding-top: 45px;
    padding-left: 14px;
    padding-bottom: 15px;
    text-align: center;
  }
  .block {
  }
  .we-have__icon1 {
  }
  .we-have__text {
    position: static;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: left;
  }
  .we-have__icon2 {
  }
  .we-have__text2 {
  }
  .we-have__icon3 {
  }
  .we-have__text3 {
  }
  .gallery {
    padding-bottom: 40px;
  }
  .gallery__container {
  }
  .promo-slider {
  }
  .gallery-block {
    width: 740px;
  }
  .gallery__item {
    display: inline-block;
    text-align: center;
    width: 33.333333%;
  }
  .gallery__item:first-child {
    text-align: left;
  }
  .gallery__item:last-child {
    text-align: right;
  }
  .promo-slider__slide {
  }
  .gallery__item-img {
    display: none;
  }
  .gallery__item-img-med {
    
  }
  .gallery__item-img-lg {
    display: none;
  }
  .price {
    display: none;
  }
  .price__bg {
    position: absolute;
    margin-top: 100px;
    height: 1564px;
    background-image: url(../img/768/foot.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .price-desc {
    display: block;
  }
  .price-desc__container {
    position: relative;
  }
  .price-desc__title {
    position: relative;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.030em;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #211811;
  }
  .price-desc__title:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    background-color: #000;
    height: 2px;
    width: 95px;
  }
  .price-desc__form {
    width: 100%;
  }
  .price-desc__table {
    position: relative;
    padding-top: 65px;
    width: 100%;
    z-index: 2;
  }
  .price-desc__row {
    
  }
   .price-desc__title-empty {
    width: 50%;
    background-color: rgba(34, 49, 63, .74);
  }
  .price-desc__title-table {
    width: 25%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    font-family: "Open Sana",sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.030em;
    color: #dadae7;
    text-align: center;
    background-color: rgba(34, 49, 63, .74);
  }
  .--smoller {
    display: block;
    text-transform: none;
  }
  .price-desc__time {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 15px;
    font-size: 16px;
    font-family: "Open Sana",sans-serif;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.030em;
    color: #22313f;
    background-color: rgba(231, 231, 231, 0.64);
  }
  .--bold {
    font-weight: bold;
  }
  .--block {
    display: block;
  }
  .price-desc__title-row1 {
    width: 25%;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 16px;
    font-family: "Open Sana",sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.030em;
    color: #dadae7;
    text-align: center;
    background-color: rgba(34, 49, 63, .74);
  }
  .price-desc__item {
    
  }
  .price-desc__radio {
    display: none;
  }
  .price-desc__radio.checked {
    border: 1px solid #000;
  }
  .price-desc__text {
    padding: 20px 60px;
    font-size: 18px;
    font-family: "Open Sana",sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.030em;
    color: #22313f;
  }
  .price-desc__title-row {
    width: 25%;
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 16px;
    font-family: "Open Sana",sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.030em;
    color: #dadae7;
    text-align: center;
    background-color: rgba(34, 49, 63, .74);
  }
  .price-desc__add-hour {
    padding:18px 15px;
    font-size: 16px;
    font-family: "Open Sana",sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.050em;
    color: #22313f;
    background: transparent;
  }
  .price-desc__empty {
    height: 60px;
    background: transparent;
  }
  .price-desc__operator {
    padding:13px 15px;
    font-size: 18px;
    font-family: "Open Sana",sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
    line-height: 24px;
    letter-spacing: 0.030em;
    color: #22313f;
    background-color: rgba(231, 231, 231, 0.91);
  }
  .price-desc__operator-price{
    padding:13px 15px;
    font-size: 18px;
    font-family: "Open Sana",sans-serif;
    font-weight: normal;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.030em;
    color: #22313f;
    background-color: rgba(231, 231, 231, 0.91);
  }
  .price-desc__ftr {
    position: relative;
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;
    z-index: 2;
  }
  .price-desc__btn {
    display: inline-block;
    padding: 15px 40px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: #fefefe;
    background-color: rgba(128, 0, 0, .85);
  }
  .price-desc__security {
    display: inline-block;
    padding-left: 80px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    letter-spacing: 0.010em;
    color: #22313f;
  }
  .reviews {
  }
  .reviews__container {
    width: 712px;
  }
  .reviews__title {
  }
  .reviews__size {
    width: 650px;
  }
  .page-footer {
    z-index: 2;
    top: 75px;
    padding-top: 40px;
  }
  .page-footer__container {
  }
  .map {
    width: 445px;
    height: 400px;
    float: right;
    right: 14px;
    box-sizing: border-box;
  }
  .page-footer__nav{
    box-sizing: border-box;
  }
  .page-footer__list {
    padding-top: 30px;
  }
  .page-footer__address {
    padding-left: 5px;
    padding-top: 15px;
    font-size: 18px;
  }
  .page-footer__address:before {
    top: 13px;
    width: 14px;
    height: 20px;
    background-position: -198px -5px;
  }
  .page-footer__phone-link {
    padding-left: 5px;
    padding-top: 20px;
    font-size: 18px;
  }
  .page-footer__item {
    padding-bottom: 20px;
  }
  .page-footer__link {
    font-size: 18px;
  }
  .page-footer__phone-link:before {
    top: 24px;
    width: 18px;
    height: 18px;
    background-position: -5px -134px;
  }
  .page-footer__social {
    padding-top: 35px;
  }
  .icon-top {
    left: 14px;
    z-index: 2;
  }
}
@media (min-width: 1200px) {
  .page-header {
    background-image: url(../img/desc/iswanto-arif-137501.jpg);
  }
  .page-header__promo {
    padding-bottom: 285px;
  }
  .page-header__btn {
    position: absolute;
    top: 9%;
    left: 12%;
  }
  .burger {
    display: none;
  }
  .trails {
    background-image: url(../img/desc/iswanto-arif-135737.jpg);
    min-height: 867px;
    background-size: cover;
  }
  .trails__container {
  }
  .trails__title {
    
  }
  .trails__block {
    width: 100%;
    padding-top: 40px;
  }
  .trails-programm {
    display: inline-block;
    margin-right: 1%;
  }
  .trails-programm:last-child {
    margin-right: 0;
  }
  .trails__item:nth-child(2n) {
    top: 75px;
  }
  .trails-programm__image {
  }
  .trails-programm__photo {
  }
  .trails-programm__shut-up {
  }
  .trails-programm__title {
  }
  .trails-programm__height {
  }
  .trails-programm__age {
  }
  .trails-programm__shut-down {
  }
  .trails-programm__description {
  }
  .shares {
  }
  .shares__container {
  }
  .shares__title {
    top: 0;
  }
  .shares__block {
    margin: 0;
    padding-top: 85px;
    box-sizing: border-box;
    /*text-align: center;*/
  }
  .shares__block:first-child {
    /*text-align: left;*/
    padding-left: 0;
  }
  .shares__block:last-child {
    /*text-align: right;*/
    padding-right: 0;
  }
  .shares__block-box {
  }
  .shares__block-image {
  }
  .shares__block-image-med {
    display: none;
  }
  .shares__block-image-lg {
    display: inline-block;
  }
  .shares__block-text {
    padding: 35px 40px;
  }
  .we-have {
  }
  .we-have__container {
    width: 100%;
    background-image: url(../img/desc/cameron-kirby-128899.jpg);
    box-sizing: border-box;
    background-size: cover;
  }
  .we-have__title {
  }
  .we-have__block {
  }
  .block {
  }
  .we-have__icon1 {
  }
  .we-have__text {
    margin: 0 auto;
    width: 300px;
    font-size: 16px;
    line-height: 24px;
  }
  .we-have__icon2 {
  }
  .we-have__text2 {
  }
  .we-have__icon3 {
  }
  .we-have__text3 {
  }
  .gallery {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .gallery__container {
  }
  .promo-slider {
  }
  .gallery-block {
    width: 1200px;
  }
  .gallery__item {
    box-sizing: border-box;
  }
  .gallery__item:first-child {
    padding-left: 0;
  }
  .gallery__item:last-child {
    padding-right: 0;
  }
  .promo-slider__slide {
  }
  .gallery__item-img {
    display: none;
  }
  .gallery__item-img-med {
    display: none;
  }
  .gallery__item-img-lg {
    display: inline-block;
  }
  .price-desc {

  }
  .price-desc__container {
  }
  .price-desc__title {
  }
  .price-desc__form {
  }
  .price__bg {
    min-height: 1786px;
    background-image: url(../img/desc/foot.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .price-desc__table {
    padding-top: 45px;
    width: 1200px;
    margin-left: -14px;
    margin-right: -14px;
  }
  .price-desc__row {
  }
  .price-desc__title-empty {
  }
  .price-desc__title-table {
  }
  .--smoller {
  }
  .price-desc__time {
  }
  .--bold {
  }
  .price-desc__title-row1 {
  }
  .--block {
  }
  .price-desc__item {
    text-align: center;
  }
  .price-desc__radio {
  }
  .price-desc__text {
  }
  .price-desc__title-row {
  }
  .price-desc__empty {
  }
  .price-desc__add-hour {
  }
  .price-desc__operator {
  }
  .price-desc__operator-price {
  }
  .price-desc__ftr {
  }
  .price-desc__btn {
  }
  .price-desc__security {
  }
  .reviews {
  }
  .reviews__container {
    width: 1172px;
  }
  .reviews__title {
  }
  .reviews__size {
    width: 1100px;
  }
  .promo-slider {
  }
  .reviews-client {
  }
  .promo-slider__slide {
  }
  .reviews-client__box {
  }
  .reviews-client__image {
  }
  .reviews-client__name {
  }
  .reviews-client__position {
  }
  .reviews-client__social {
  }
  .reviews-client__instagramm {
  }
  .reviews-client__vk {
  }
  .reviews-client__text {
  }
  .page-footer {
    padding-bottom: 25px;
  }
  .page-footer__container {
  }
  .map {
    width: 740px;
    height: 416px;
    right: 0;
  }
  .page-footer__nav {
    padding-left: 0;
  }
  .page-footer__address {
    display: inline-block;
  }
  .page-footer__phone {
    display: inline-block;
  }
  .page-footer__phone-link {
    left: 67px;
  }
  .page-footer__list {
  }
  .page-footer__item {
  }
  .page-footer__link {
  }
  .page-footer__social {
  }
  .page-footer__twitter {
  }
  .page-footer__vk {
  }
  .page-footer__instagramm {
  }
  .icon-top {
    left: 4%;
    bottom: 25px;
  }
}